/****************************  General styling  */
@font-face {
  font-family: 'savateregular';
  src: url('fonts/savate-regular-webfont-webfont.woff2') format('woff2'),
       url('fonts/savate-regular-webfont-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@import url(https://fonts.googleapis.com/css?family=Roboto:500);
.App {
  text-align: center;
  padding: 2% 3%;
}

.App * {
  box-sizing: border-box;
}

.meet-up-brand {
  font-family: "savateregular";
  letter-spacing: 0.1em;
  color: #E9765B;
  margin: 0, 0.1rem;
}

.meet-up-brand.title {
  margin-top: 5rem;
  font-size: 3rem;
}

ul {
  padding: 0;
  list-style: none;
}

p {
  margin: 0.5rem 0;
}


/****************************  CitySearch Component  */
.display-none {
  display: none;
}

.showSuggestions {
  display: block;
}

.city {
  width: 20rem;
}

.CitySearch {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
  margin: 1rem;
}

.suggestions {
  width: 20rem;
  z-index: 2;
  align-self: center;
  margin: 0;
  top: 3rem;
  font-size: 0.9rem;
  box-shadow: 10px 10px 16px -12px rgba(0, 0, 0, 0.75);
}

.suggestions > li {
  text-align: left;
  padding: 0.5rem 0.8rem;
  background-color: #eee;
  cursor: default;
}

.suggestions > li:last-child {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.suggestions > li:hover {
  background-color: #bcdcdb;
}


/*************************** NumberOfEvents Component  */
.number-of-events-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.number-of-events {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 20rem;
}


/*************************** input fields (CitySearch + NumberOfEvents) */
input[type="text"],
input[type="number"] {
  padding: 0.5rem 0.8rem;
  border-radius: 3px;
  outline: none;
  border: 0.15rem solid #ccc;
  font-size: 0.9rem;
  line-height: 1.3rem;
  align-self: center;
  height: 2rem;
}

input[type='number'] {
  width: 5rem;
  margin-left: 0.3rem;
}


/****************************  Event Component */
.event {
  padding: 0.8rem 0.8rem 2rem;
  margin-bottom: 0.8rem;
  text-align: left;
  border: 0.1rem solid #ccc;
  border-radius: 4px;
  position: relative;
}

.event-details {
  margin-bottom: 1.5rem;
  overflow-wrap: break-word;
}

.event-details__location {
  margin-bottom: 1.5rem;
}

.details-btn {
  position: absolute;
  right: 5px;
  bottom: 5px;
  padding: 0.5rem 1rem;
  background-color: #fff;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  display: inline-block;
  font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.details-btn:hover {
  background-color: #1e293b;
  color: #fff;
}

.event-details__link {
  text-decoration: none;
  color: #0088FE;
}

/*************************** Loading Events Spinner */
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin: 3rem;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 6px solid #c98627;
  border-color: #c98627 transparent #c98627 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/*************************** data-vis-components */
.recharts-surface {
  overflow: visible;
}

@media screen and (min-width: 1201px) {
  .data-vis-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 3rem 0;
  }
  .data-vis-wrapper__chart {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .data-vis-wrapper__plot {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (max-width: 1200px) {
  .data-vis-wrapper {
    display: flex;
    flex-direction: column;
    margin: 3rem 0;
  }

  .data-vis-wrapper__chart, .data-vis-wrapper__plot {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}


/*************************** alerts */
.alert {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.alert__offline-visible {
  position: fixed;
  top: 0;
  border: 0.1rem solid #df4759;
  border-top: none;
  border-radius: 3px;
  padding: 1rem;
  margin-top: 0;
  width: 100%;
  background-color: rgba(223, 71, 89, 0.2)
}

.alert__offline-hidden {
  border: none;
}

.alert__CitySearch {
  background-color: rgba(91, 192, 222, 0.2);
  border: 0.1rem solid #5bc0de;
  border-radius: 3px;
  padding: 0.5rem;
  width: 20rem;
  font-size: 0.8rem;
  margin: 0;
}

.alert__NumberOfEvents {
  background-color: rgba(233, 30, 99, 0.2);
  border: 0.1rem solid #e91e63;
  border-radius: 3px;
  padding: 0.5rem;
  width: 20rem;
  font-size: 0.8rem;
}